// Colors
$color-grey: rgb(122, 122, 122);
$color-green: rgb(52, 163, 52);
$color-pink: rgb(255, 117, 140);


// Font-sizes
$font-size-default: 14px;
$font-size-small: 11px;
$font-size-large: 18px;

// Margins
$margin-default: 10px;
$margin-large: 20px;


// Themes varibles
$primary-color: blue;
$secondary-color: white;